
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


body {
    background: #e0e8ff;
    text-align: center;
    font-family: 'Red Hat Display';
}
h2 {
    font-weight: bold;
}
.wadah {
    width: 320px;
    min-height: 510px;
    background-color: white;
    border-radius: 15px;
    margin: 70px auto;
}
.gambar img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    
}
.teks {
    padding: 0 20px;
    font-size: 16px;
    color: gray;
    font-family: 'Red Hat Display';
}
.bulat {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url("../images/icon-music.svg");
}
.pipit {
    background-color: #f5f7ff;
    margin: 0 20px;
    padding: 13px 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.price {
    color: Gray;
}
.pucuk {
    display: inline-block;
    margin-top: 20px;
    background-color: #3928e0;
    padding: 13px 70px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    box-shadow: 0 15px 10px -2px rgba(57, 40, 224, 0.3);
    transition: 0.5s;
}
.pucuk:hover {
    box-shadow: 0 30px 10px -15px rgba(57, 40, 224, 0.3);
    transform: translateY(-10px);
    background-color: #6c47ff;
}
.akhir {
    color: gray;
    margin-top: 20px;
    font-weight: bold;
}
.

